@font-face {
    font-family: radikal-medium;
    src: url(../Radikal/Nootype\ -\ Radikal\ Medium.otf);
  }
  @font-face {
    font-family: radikal-bold;
    src: url(../Radikal/Nootype\ -\ Radikal\ Bold.otf);
  }
  @font-face {
    font-family: radikal-light;
    src: url(../Radikal/Nootype\ -\ Radikal\ Thin.otf);
  }
:root{
    /*****  cores  *****/
    --body-color: #edebfa;
    --sidebar-color: #ffffff;
     --primary-color: lightblue;
    /*--secondary-color:;
    --toogle-color:; */
    --text-color:#707070;

    /* transições */

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease 

    /***** tipografia *****/
    

}

body{
    font-family: radikal-bold;
}
.display-none{
    display:none;
}

.container-center{
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.div-form{
    display: flex;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.div-form h2{
    font-family: radikal-bold;
}
.div-form {
    
    font-family: radikal-medium;
}
.div-form input{
    width: 90%;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #b7b7b8;
    margin-bottom: 10px;
    font-size: 0.8em;
    color: #252525;
}
.div-form input[type=submit]{
    background-color: #252525;
    color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.div-form form{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 80px;
    border-radius: 10px;
}


.modal{

font-family: radikal-medium;

}
.modal h5{
    margin-left: 10px;
    color: #272728;
}
.modal .icons-modal{
    margin-top: 3px;
}

.label-rec{
    font-family: radikal-light;
}
.input-rec{
    font-family: radikal-light;
    border: 1px solid #b7b7b8;
    border-radius: 6px;
    width: 80%;
    padding: 5px 10px;
}

.send-btn{
    background-color: #133c2f;
    border: none;
    border-radius: 6px;
    color: white;
    width: 15%;
    padding: 5px 10px;

}

.sucesso{
    color: green;
    font-family: radikal-medium;
}
.erro{
    color: red;
    font-family: radikal-medium;
}


.button-password{
background-color: transparent;
border: none;
font-family: radikal-light;
text-decoration: underline;
font-size: 0.8em;
}