@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*****  cores  *****/
    --body-color: #edebfa;
    --sidebar-color: #ffffff;
    --primary-color: lightblue;
    --default_border: 1px solid #e8e8e8;
    --default_background: #f9f9f9;
    --icones__index: #000000;
    --supra-colors: #212529;
    --blackWhite: #000;
    /*--secondary-color:;
    --toogle-color:; */
    --text-color: #707070;

    /* transições */

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease
    /***** tipografia *****/

}
  
  /*fim do root*/
  /*cores para modo dark*/
  .dark {
    --supra-colors: #454d55;
    --contentBG: #06070d;
    --webkit-scrollbar: #06070d;
    --default_border: 1px solid #21272b;
    --divider-border: #21272b;
    --default_background: #f9f9f903;
    --offwhite: #f0f0f0;
  
    --user-color: #c7c7c7;
    --congrats_background: #f9f9f9;
    --default-color: #f2f2f2;
    --blackWhite: #FFF;

  }
*{
    font-family: "Raleway", system-ui !important;
}
body {
    background-color: var(--contentBG) ;
    overflow: hidden;
}
.dark{
    --icones__index: #FFFFFF;
}
.icone-thumb{
    stroke: var(--icones__index);
}
body::-webkit-scrollbar {
    display: none;
}
body {
    scrollbar-width: none;
}
.col-8 {
    height: 100vh;
}
.chat{
    background-color: var(--contentBG) ;

}
#textClear{
    color: var(--blackWhite);
}
.chat header {
    font-family: 'Raleway';
    padding: 16px;
    color: #b9b9b9;
    text-align: center;
}

.chat .chatbox {
    overflow-y: auto;
    height: 80vh;
    padding: 15px 15px;
}

.img-src {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    align-self: flex-end;
}

.img-incoming {
    margin: 0px 10px 20px 0px;
}

.img-outgoing {
    margin: 0px 0px 20px 10px;
}

.img {
    align-self: flex-end;
}
.chatbox::-webkit-scrollbar {
    cursor: default;
    width: 5px;
}

.chatbox::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 20px;
}

.chatbox::-webkit-scrollbar-track {
    background-color: transparent;
}
.chatbox .outgoing {
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: -18px;
}

.chatbox .chat {
    display: flex;
}

.chatbox .chat p {
    color: white;
    font-family: 'Raleway';
    font-size: 0.95rem;
    padding: 12px 16px;
    border-radius: 10px 10px 0px 10px;
    background-color: #724ae8;
    max-width: 75%;
}

.chatbox .outgoing svg,
.chatbox .outgoing a {
    stroke: white !important;
    color: white !important;
}

.chatbox .incoming p {
    color: #000;
    background: rgb(216, 209, 209);
    border-radius: 10px 10px 10px 0px;
}

.chat .chat-input {
    position: relative;
    border: var(--default_border);
    background-color: var(--default_background);
    width: 100%;
    border-radius: 50px;
    max-height: 50px;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;

    position: sticky;
    bottom: 1.8%;
    width: 100%;
    /* padding: 5px 20px; */
}

.chat-input textarea {
    border: none;
    outline: none;
    resize: none;
    font-size: 0.95rem;
    height: 55px;
    width: 90%;
    background-color: transparent;
    padding: 16px 15px 16px 0;
}

.chat-input {
    display: flex;
}

.send {
    align-self: center;
}

.frase {
    font-family: 'Raleway';
    font-size: 1.2em;
    color: var(--supra-colors);
}

.container-flex {
    display: flex;
    background-color: var(--contentBG) ;
    position: absolute;
    top: 50;
    height: 100%;
    width: 100%;
    align-self: baseline;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.atached {
    align-self: center;

}.highlight {
    box-shadow: rgba(202, 228, 237, 0.5) 2px 0px 0px 0px, rgba(202, 228, 237, 0.5) -2px 0px 0px 0px;
    background-color: rgba(202, 228, 237, 0.5);
    border-radius: 3px;
}
@media(width < 750px){
    body > .chat{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .chatbox{
        width: 90%;
        height: calc(80vh - 50px);
    }
    .chat-input textarea {
    border: none;
    outline: none;
    resize: none;
    font-size: 0.95rem;
    height: 55px;
    width: 80%;
    background-color: transparent;
    padding: 16px 15px 16px 0;
}
    .chat .chat-input {
        position: relative;
        border: var(--default_border);
        background-color: var(--default_background);
        border-radius: 50px;
        max-height: 50px;
        min-height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        position: sticky;
        bottom: calc(8.8% + 2px);
        width: 90%;
    }
}
.vltrPMenuConfig {
    padding: 1%;
    position: absolute;
    font-size: 16px;
    border: var(--default_border);
    background-color: #F9F9F9;
    height: 2rem;
    width: 30%;
    top: calc(9vh + 2%) !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    border-radius: 59px;
}
#vltrPMenuConfig, #vltrPMenuConfig>*{
    cursor: pointer;
}
#vltrPMenuConfig:hover {
border: 2px solid rgba(0, 123, 255, 0.5);
}