* {
    font-family: 'Raleway' !important;
}

:root {
    /*****  cores  *****/
    --body-color: #edebfa;
    --sidebar-color: #ffffff;
    --primary-color: lightblue;
    --liactive: rgb(240, 240, 240);
    /*--secondary-color:;
    --toogle-color:; */
    --text-color: #707070;

    /* transições */

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease
        /***** tipografia *****/


}
.dark{
    --liactive: #06070d;
}
.highlight {
    box-shadow: rgba(202, 228, 237, 0.5) 2px 0px 0px 0px, rgba(202, 228, 237, 0.5) -2px 0px 0px 0px;
    background-color: rgba(202, 228, 237, 0.5);
    border-radius: 3px;
}
.row-all {
    display: flex;
    height: 99vh;
}

.iframe-chat {
    width: 100%;
}

.col-lateral h5 {
    font-family: 'Raleway';
    padding: 16px;
    padding-top: 0 !important;
    color: #b9b9b9;
    text-align: center;
}

.searchbar-div>form {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.col-lateral .searchbar-div {
    width: 100%;
    padding: 10px 15px;
    background-color: var(--contentBG);
    border-radius: 20px;
    border: var(--default_border);
}

.col-lateral .searchbar-div input {
    width: 90%;
    border: none;
    outline: none;
    font-family: 'Raleway';
    background-color: transparent;
}

.col-lateral .lista-conversas {
    max-height: 90%;
    width: 100%;
    overflow-y: auto;
}

.col-lateral .lista-conversas .ul-conversa {
    padding: 0px;
    /* margin-top: 15px; */
}

.col-lateral .lista-conversas .ul-conversa li {
    list-style: none;
    padding: 10px 1px;
    padding-top: 0 !important;
    align-items: center;
}

.ul-conversa li {
    /* padding-top: 10px; */
    border-radius: 6px;
}


.ul-conversa li,
.ul-conversa a {
    display: flex;
    transition: 0.2s;
    text-decoration: none !important;
    align-items: center;
}

.ul-conversa li .img-pfp img,
.ul-conversa li .img-pfp {
    height: 50px;
    width: 50px;
    border-radius: 50%;

}

.ul-conversa li a .name {
    font-family: 'Raleway';
    padding: 10px 7px 0px 7px;
    color: var(--text-color) !important;
    font-size: 1.2em;
    display: grid;
}


.ul-conversa li a .name .demotext {
    font-family: 'Raleway';
    color: #b9b9b9 !important;
    font-size: 0.7em;
    padding-left: 3px
}



.ul-conversa li.active{
    background-color: var(--liactive);
transition:0.2s;
}


.ul-conversa a:hover {
    transition: 0.2s;
    transform: scale(0.96);

}
